.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-family: 'Quicksand';
  font-weight: 700;
}
.login input {
  text-align: center;
  margin: 20px;
  border-radius: 8px;
  outline: hidden;
  height: 30px;
  font-size: 20px;
  font-family: 'Quicksand';
}

.login input:focus {
  outline: none;
}

.login i {
  margin: 20px;
  background: linear-gradient(to top right, #00c6ff, #0072ff);
  /* border: 2px black solid; */
  border-radius: 8px;
  user-select: none;
  transition: 100ms ease-in-out;
  /* height: 30px; */
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.login i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.login i:active {
  transform: scale(0.8);
  cursor: pointer;
}

.login .true {
  animation-name: shake;
  animation-duration: 0.4s;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
