.MessagesContainer {
    display: grid;
}

.MessageCont {
    padding: 4px;
    margin: 10px;
    display: grid;
}

.MessageCont p {
    margin: 0;
}

.MessageDate {
    color: #cccccc;
    text-align: right;
}

.Sent {
    color: #ffffff;
    background: linear-gradient(to top right, #00c6ff, #0072ff);
    border-radius: 15px 15px 0px 15px;
    padding: 10px;
}

.Recieved {
    background: #d8d8d8;
    border-radius: 15px 15px 15px 0px;
    padding: 10px;
}

.Left {
    text-align: left;
    justify-self: left;
}

.Right {
    text-align: left;
    justify-self: right;
}


li {
    max-width: 80%
}