.MessagesContainer {
    display: grid;
    padding: 5px;
    padding-bottom: 50px;
    overflow: scroll;
    height: 74vh;
}

.MessageCont {
    padding: 4px;
    margin-top: 10px;
    display: flex;
}

.MessageCont p {
    margin: 0;
}

.MessageDate {
    color: grey;
    text-align: right;
}

.Sent {
    color: #ffffff;
    background: linear-gradient(to top right, #00c6ff, #0072ff);
    border-radius: 15px 15px 0px 15px;
    padding: 10px;
}

.Recieved {
    background: #d8d8d8;
    border-radius: 15px 15px 15px 0px;
    padding: 10px;
}

.Left {
    text-align: left;
    justify-self: left;
}

.Right {
    text-align: left;
    justify-self: right;
    flex-flow: row-reverse;
}


li {
    max-width: 80%
}

.MessageAvatar {
    height: 35px;
    width: 35px;
}

.userInfo {
    padding: 5px;
}

.MessageFader {
    z-index: 10;
    color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(to top, rgba(138, 15, 15, 1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
}

@media screen and (max-width: 360px) {
    .MessageCont p {
        overflow-wrap: break-word;
        max-width: 260px;
    }

    .MessagesContainer {
        height: 61vh;
    }

  }

  @media screen and (max-width: 375px) {
    .MessageCont p {
        overflow-wrap: break-word;
        max-width: 260px;
    }

    .MessagesContainer {
        height: 57vh;
    }

  }


  @media screen and (max-width: 414px) {
    .MessageCont p {
        overflow-wrap: break-word;
        max-width: 260px;
    }

    .MessagesContainer {
        height: 66vh;
    }

  }

  @media screen and (min-height: 896px) and (max-height: 900px) {
    .MessagesContainer {
        height: 72vh;
    }

  }
