.SendContainer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
    background: #c5c5c5;
    text-align: left;
    display: flex;
    justify-content: center;
}

.sendBar {
    width: 80%;
    text-align: left;
    border-radius: 10px;
    border: none;
    margin: 4px;
    padding: 2px;
    padding-left: 20px;
    font-family: 'Quicksand';
    font-weight: 500;
}

.sendButton {
    font-size: 25px;
    align-self: center;
    color: #0261e5;
    margin-left: 30px;
}

.sendButton:hover {
    color: #029ae5;
}