.UserStatus {
    border-radius: 15px;
    height: 20px;
    width: 120px;
    margin: 2px;
    padding: 2px;
}

.UserStatus p {
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 700;
    color: #ffffff;
}

.UserContainer {
    display: flex;
    justify-content: center;
}

.online {
    border: 2px solid #1b8f5d;
    background: #24C157;
}

.offline {
    border: 2px solid #c12440;
    background: #94241c;
}

@media screen and (max-width: 550px) {
    .UserContainer {
        max-height: 30px;
        overflow-y: scroll;
        flex-wrap: wrap;
    }
}