.UserStatus {
    border-radius: 15px;
    height: 20px;
    width: 100px;
    margin: 2px;
}

.UserStatus p {
    margin: 0;
}

.UserContainer {
    display: flex
}

.online {
    border: 2px solid #24C157;
    background: #24c17e;
}

.offline {
    border: 2px solid #c12440;
    background: #c12f24;
}